# Ignore Python cache
__pycache__/
*.pyc

# Ignore local environment files
.env

# Ignore virtual environments
venv/
.env/
backend/env/
backend/migrations/versions
# Ignore node modules (for the frontend)
frontend/node_modules/
frontend/package-lock.json

# Ignore Docker-specific files
docker-compose.override.yml
.dockerignore

# Ignore logs and other runtime data
*.log
*.pid
*.swp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore database volume
volumes/
