/* App.module.css */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Geist+Mono:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto Condensed", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height to make the sidebar and content occupy the full viewport */
}

.mainContentContainer {
  display: flex;
  flex: 1 1;
}

.mainContent {
  flex: 1;
  margin-left: 80px; /* Default margin for collapsed sidebar */
  transition: margin-left 0.3s ease;
}

/* Push content when sidebar is open */
.sidebarOpen {
  margin-left: 240px;
}

/* Mobile adjustments */
@media (max-width: 768px) {
  .mainContent {
    margin-left: 0; /* Sidebar will overlay on mobile */
  }
}

/* Ensure main content takes full width in print view */
@media print {
  .mainContent {
    margin-left: 0;
  }
}
