/* src/styles/Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080550;
    padding: 10px 20px;
    color: white;
    width: calc(100% - 40px);
  }
  
  .logo {
    height: 50px; /* Adjust the size as needed */
    margin-right: 20px;
    border: 50px white;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-left: 20px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  .navbar-logo {
    width: 200px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    min-width: 100px; /* Minimum width */
    min-height: 50px; /* Minimum height */
    max-width: 300px; /* Maximum width */
    max-height: 150px; /* Maximum height */
  }