/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

/* Container for the filter and table */
.table-container {
    max-width: 1200px;
    margin: auto;
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* Style for the filter form */
.filter-form {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.filter-form label {
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
}

.filter-form input[type="date"] {
    width: calc(50% - 20px);
    padding: 10px;
    margin: 5px 10px 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.filter-form button {
    align-self: flex-start;
    background-color: #080550;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

.filter-form button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    table-layout: auto; /* Prevent fixed columns from squeezing content */
}

th, td {
    font-weight: bold;
    padding: 6px;
    text-align: center;
    border: 1px solid #000000; /* Add border to each cell */
    word-wrap: break-word;
    white-space: normal; /* Enable wrapping */
    max-width: 100px; /* Set max width to limit wrapping */
    max-height: fit-content;
    overflow: hidden;
    height: auto;
}

th {
    background-color: #080550;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

tr:hover {
    background-color: rgba(0, 128, 255, 0.1);
}
/* Add zebra striping for table rows */
tr:nth-child(even) {
    background-color: #f2f2f2; /* Light grey color for even rows */
}

tr:nth-child(odd) {
    background-color: #fff; /* White color for odd rows */
}

/* Table footer styles */
tfoot td {
    font-weight: bold;
}

/* Responsive styling */
@media (max-width: 600px) {
    .table-container {
        overflow-x: auto; /* Keep the table scrollable on small devices */
    }

    table {
        width: 100%;
        min-width: 300px; /* Ensure table doesn't shrink too much */
    }

    th, td {
        white-space: normal; /* Ensure wrapping */
        max-width: 100px; /* Adjust max width for smaller screens */
    }
}

/* Form styles */
form {
    background-color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

form:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

h2 {
    margin-top: 0;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="checkbox"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.2s, box-shadow 0.2s;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
    border-color: #080550;
    box-shadow: 0 0 5px rgba(0, 128, 255, 0.5);
}
button {
    background-color: #080550;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    gap: 10px; /* Add spacing between buttons */
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #4fd3ff;
    transform: translateY(-2px);
}

/* Responsive styles for hiding form and showing add button on larger screens */
@media (min-width: 601px) {
    .form-container {
        display: none;
    }

    .add-more-button {
        display: inline-block;
        background-color: #080550;
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s;
    }

    .add-more-button:hover {
        background-color: #45a049;
        transform: translateY(-2px);
    }
}

@media print {
    button {
      display: none;
    }
    
    .actions-column {
      display: none;
    }
}